* {
	margin:0;
	padding:0;
}
body {
  background: black;
  color: white;
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size:.625em;
}

.main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  text-align: center;
}

li {
  text-align: left;
  font-size:2em;
}

h1 {
  font-size:4em;
  border-bottom:1px solid white;
	margin-bottom: 20px;
}

p {
	text-align: left;
	font-size:3em;
}

.instrp {
	text-align: left;
	font-size:2em;
}

button 	{
  font-size:1em;
  cursor:pointer;
  font-weight: bold;
  padding: .2em;
}

.recallButton {
  font-size: 3em;
}

.letterButton {
  width: 3em;
}

.controlButton {
  width: 4.5em;
}

.finishedButton {
  width: 9em;
}

.bp{
	margin-top:1em;
	text-align: center;
}

.sentence{
	font-size:5em;
	text-align: center;
}

.item{
	text-align: center;
	font-size:5em;
}

input[type=text]{ 
	font-size:1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
